<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Surprise My Palate - Go Explore the Food World!</title>
</head>

<body>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" id="ingredient">
        </div>
        <input type="button" value="Add ingredient to blacklist"
            onclick="addBlacklist(document.getElementById('ingredient').value)">
        <p id="currentBlacklist"></p>
        <input type="button" value="Submit blacklist" onclick="submitBlacklist()">
    </form>

    <script src="javascript/blacklist.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    </script>

</body>

</html>